@model IEnumerable<WebUcu.Wiki.Operation.Entities.Page>

<p>
    <a asp-action="Create">Create New</a>
</p>

<section class="main grid9 first">

    <ul class="archive">

        @foreach (var item in Model)
        {
            <li>
                <h4>
                    <a href="@Url.Action("ViewPage", "Wiki" , new { id=item.Id })">@item.Title</a>
                </h4>
                <p class="post-info">
                    by <span>@Html.DisplayFor(modelItem => item.ModifiedBy)</span> at @Html.DisplayFor(modelItem => item.ModifyDate)<br />
                    tagged in
                    @foreach (var tag in item.TagList)
                    {
                        <a href="@Url.Action("TagPages", "Tags" , new { tag=tag })">@tag</a>
                    }
                </p>
            </li>
        }
    </ul>
</section>
